@model DevIO.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Novo Produto";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="Create">
            <vc:Summary></vc:Summary>
            <partial name="_PartialFormulario" />
            <div class="form-group btn-group-sm">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            var selectorImgUpload = '#ImagemUpload';
            $(document).on('change', selectorImgUpload, function() {
                $('#img_nome').text(this.files[0].name);
                $('#img_nome')[0].style.display = 'block';
            });
            $(selectorImgUpload).attr('data-val', 'true');
            $(selectorImgUpload).attr('data-val-required', 'Preencha o campo Imagem');
        });
    </script>
}
