@model DevIO.App.ViewModels.FornecedorViewModel
@{
    ViewData["Title"] = "Atualizar Endereço";
}
<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>
<form asp-action="AtualizarEndereco">
    <div class="modal-body">
        <vc:Summary></vc:Summary>

        <input type="hidden" asp-for="Endereco.Id" />
        <input type="hidden" asp-for="Id" />
        <partial name="_PartialFormularioEndereco" />

        <div class="modal-footer">
            <div class="text-right btn-group-sm">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-success" />
                <input type="button" value="Fechar" class="btn btn-info" data-dismiss="modal" />
            </div>
        </div>

    </div>
</form>