@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <partial name="_PartialDetail" />
</div>
<div class="btn-group-sm">
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
6